{% extends "base.html" %}
{% block body %}
<div x-data @keydown.escape.window="$store.ui.drawerOpen = false" x-effect="document.body.classList.toggle('overflow-hidden', $store.ui.drawerOpen)">
    <div x-cloak x-show="$store.ui.drawerOpen" class="fixed inset-0 z-40 bg-slate-950/50 lg:hidden" @click="$store.ui.drawerOpen = false" aria-hidden="true"></div>
    {% include "partials/_sidebar.html" %}
    <div class="main-shell">
        {% include "partials/_navbar.html" %}
        <main id="main-content" class="flex-1 px-6 py-8 lg:px-8" hx-history-elt>
            {% block content %}{% endblock %}
        </main>
    </div>
</div>
{% endblock %}
